body{
  font-family: 'Titillium Web', sans-serif;
}

header{
  margin-top: 75px;
}
#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

#contact{
  background: url(../img/smartphones.png);
}
·nav{
  background: #f44242;

}

/*.carousel-fade {
  .carousel-inner {
      .item {
          transition-property: opacity;
      }
      
      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }
  }

  .carousel-control {
      z-index: 2;
  }
}
*/


html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: #74C390;
}

.item:nth-child(2) {
  background: #51BCE8;
}

.item:nth-child(3) {
  background: #E46653;
}

#fadecss,#navbar1 {
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 35%, rgba(118,1,28,1) 74%, rgba(109,0,25,1) 89%);
  /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(35%, rgba(143,2,34,1)), color-stop(74%, rgba(118,1,28,1)), color-stop(89%, rgba(109,0,25,1)));*/
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 35%, rgba(118,1,28,1) 74%, rgba(109,0,25,1) 89%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 35%, rgba(118,1,28,1) 74%, rgba(109,0,25,1) 89%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 35%, rgba(118,1,28,1) 74%, rgba(109,0,25,1) 89%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 35%, rgba(118,1,28,1) 74%, rgba(109,0,25,1) 89%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}